@if(userId$ | async; as userId){
    <div class="container">
        <h2 class="h2">
            <div class="titre">
                <span>Chatroom - {{chatroomId}}</span>
                <span>
                    <button type="button" class="btn-close"aria-label="Close"
                            (click)="onClickCloseChatroom()"></button>
                </span>
            </div>
        </h2>
        <div class="container-fluid">
            <div class="row">
                @if(messages$ | async; as messages){
                    @if(usersList$ | async; as users){
                        <div class="col1">
                            <form [formGroup]="sendMsgForm" (ngSubmit)="sendMsg()" class="form">
                                <div class="input-group">
                                    <input type="text" class="form-control" formControlName="message" placeholder="Type a message...">
                                    <button class="btn btn-primary" type="submit"
                                            [disabled]="sendMsgForm.invalid">Send</button>
                                </div> 
                                @if(message?.invalid && (message?.dirty || message?.touched)){
                                    <div class="text text-danger"> 
                                        @if(message?.hasError('required')){
                                            Message is required
                                        }
                                        @if(message?.hasError('specialChars')){
                                            Message cannot contain special characters
                                        }
                                    </div>
                                }@else{
                                    <br/>
                                }
                            </form>
                            <MessageList class="scrollboxes" [messages]="messages" [chatroomId]="chatroomId" [users]="users"></MessageList>
                        </div>
                        <div class="col2">
                            <UserInChatroomList class="userslist" [users]="users"></UserInChatroomList>
                        </div>
                    }
                }
                
            </div>
        </div>
        
    </div>
}
