<div class="container">
    <img src="chat.png" alt="logo" class="logo">
    <br/>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" #forDir="ngForm">
        <h3>Reset Password</h3>
        <div [hidden]="forDir.submitted">
            <div class="mb-3">
                <label for="password" class="form-label">New Password</label>
                <input type="password" class="form-control" id="password" formControlName="password">
                @if(password?.invalid && (password?.dirty || password?.touched)){
                    <div class="text text-danger">
                        @if(password?.hasError('required')){
                            Password is required
                        }
                        @if(password?.hasError('invalidPasswordFormat')){
                            {{"Le mot de passe doit : \n contenir entre 8 et 15 caractères dont : \nune lettre majuscule, \nune lettre minuscule, \net un chiffre."}}
                        }
                    </div>
                }
            </div>
            <div class="mb-3">
                <label for="confirmPassword" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword">
                @if(confirmPassword?.invalid && (confirmPassword?.dirty || confirmPassword?.touched)){
                    <div class="text text-danger">
                        @if(confirmPassword?.hasError('required')){
                            Confirm Password is required
                        }
                        @if(confirmPassword?.hasError('inConfirmedPassword')){
                            Passwords do not match
                        }
                    </div>
                }
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="resetPasswordForm.invalid">Submit</button>
        </div>
    </form>
    @if(forDir.submitted){
        @if(afterSubmitPwdReset$ | async; as success){
            @if(success){
                <div class="alert alert-success" role="alert">
                    Password reset successfully
                </div>
                <button class="btn btn-primary" [routerLink]="routerLinkList[6].path">Login</button>
            }@else{
                <div class="alert alert-danger" role="alert">
                    Password reset failed
                </div>
                <button class="btn btn-primary" [routerLink]="routerLinkList[7].path">Re-envoyer reset mail</button>
            }
        }@else {
            <div class="spinner-border text-secondary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        }
    }
</div>
