<div class="container">
    <img src="chat.png" alt="logo" class="logo">
    <br/>
    <form [formGroup]="forgetPwdForm" (ngSubmit)="onSubmit()" #formDir="ngForm">
        <h3>Forget Password</h3>
        <div [hidden]="formDir.submitted">
            <p>Pour récupérer votre mot de passe, veuille saisir votre adress E-mail ci-dessus :</p>
            <div class="mb-3">
                <label for="email" class="form-label">Email :</label>
                <input class="form-control" type="text" id="email" formControlName="email"
                    placeholder="Entrer votre email">
                @if(email?.invalid && (email?.dirty || email?.touched)){
                    <div class="text text-danger">
                        @if(email?.hasError('required') || email?.hasError('invalidEmail')){
                            Email est requis ou invalide
                        }
                    </div>
                    }
            </div>
            <button type="submit" class="btn btn-primary send" [disabled]="forgetPwdForm.invalid">Envoyer</button>
        </div>
    </form>
    @if(formDir.submitted){
        @if(afterClickedSubmit$ | async; as resMsg){
            @if(resMsg.status !== "error"){
                <div class="alert alert-primary">
                    {{resMsg.msg}}
                </div>
            }@else {
                <div class="alert alert-danger">
                    {{resMsg.msg}}
                </div>
            }
            <div class="btn-group">
                <button class="btn btn-primary" (click)="resetForgetPwdForm()" [disabled]="restTime > 0">
                    {{"Reessayer" + (restTime > 0? " (" + restTime + "s)":"")}}
                </button>
                <button class="btn btn-primary" [routerLink]="routerLinkList[0].path">Retourner</button>
            </div>
        }@else {
            <div class="spinner-border text-secondary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        }
    }
</div>
