.header {
    color: white;
    background-color: #569eff;
    position: fixed;
    z-index: 9999;
    padding: 0;
    width: 100%;
}

.titreContainer {
    display: flex;
    justify-content: center;
}

.titre {
    text-align: center;
    font-size: 2.75em;
}