html {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%
}

header {
    width : 100%;
    background-color: #084298;
    flex: 0 0 auto;
}

.container {
    flex : 1 0 auto;
}

.container > .row > form {
    height: 300px;
    width: 400px;
    border: 1px solid #ccc;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

table > th,table > td{
    border: 1px solid black;
}


aside {
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    height: 100%;
    width:100%;
}

nav {
    background-color: #343a40;
    flex : 0 0 auto
}

.nav-link{
    background-color: #6c757d;
    border-radius: 5px;
    padding: 8px 12px;
    color : #3dd5f3
}

.nav-item {
    flex-grow: 1;
    flex-shrink: 1;
    margin: 5px;
    border-radius: 5px;
}

.nav-item:hover {
    background-color: #0056b3;
}

footer {
    flex : 0 0 auto;
    height : 90px;
    width: 100%;
    background-color: #0056b3;
    text-align: center;
    padding: 10px;
}
